* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: none;
  list-style: none;
  color: inherit;
  font-family: "Roboto", "Courier New", Courier, monospace;
}

html {
  overflow: hidden;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  background: none;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
}

.calculator {
  width: 100%;
  height: 100vh;
}
.calculator .input-and-output-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  flex-wrap: nowrap;
  padding: 10px;
  padding-right: 20px;
  text-align: end;
  height: 20vh;
}
.calculator .input-and-output-section .container-output .output-operation {
  display: block;
  -webkit-animation: WatchInfo 400ms normal;
          animation: WatchInfo 400ms normal;
}
@-webkit-keyframes WatchInfo {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 100;
  }
}
@keyframes WatchInfo {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 100;
  }
}
.calculator .input-and-output-section .input-operation {
  padding: 10px;
  width: 100%;
  font-size: 20px;
  text-align: end;
  font-weight: bold;
}

.HISTORY {
  background: #17202a;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99999 !important;
  transition: all 400ms;
  transform: translateX(-100%);
}
.HISTORY .button-back-history {
  margin: 5px;
  padding: 8px;
}
.HISTORY .container-list-operations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: nowrap;
  padding: 20px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 90px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.HISTORY .container-list-operations .error-leng {
  font-size: 50px;
  font-weight: bold;
}
.HISTORY .container-list-operations .operation-item {
  width: 100%;
  border-radius: 18px;
  padding: 10px;
  padding-left: 25px;
}
.HISTORY .container-list-operations .operation-item .operation {
  font-size: 15px;
}
.HISTORY .container-list-operations .operation-item .response {
  margin-top: 5px;
  font-size: 20px;
}

.buttons-basic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  gap: 0px;
  flex-wrap: nowrap;
  height: 80vh;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.buttons-basic .constainer-butons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap;
}
.buttons-basic .container-buttons-end {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}
.buttons-basic .container-buttons-end .button.special {
  height: 100%;
  max-width: 80px;
}
.buttons-basic .container-buttons-end .container-buttons-end-numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.buttons-basic .container-buttons-end .container-buttons-end-numbers .constainer-butons {
  width: 100%;
  margin: 0;
}

.button {
  font-size: 20px;
  width: 100%;
  max-width: 100px;
  min-height: 50px;
  transition: all 400ms;
}
.button:hover {
  transform: scale(1.1);
}

.delete-button-path {
  transform: rotate(180deg);
}

.container-button-theme {
  position: fixed;
  width: 40px;
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  flex-wrap: nowrap;
}
.container-button-theme .decoration-theme {
  height: 100%;
  width: 50%;
}

.button-history {
  background: blue;
  position: fixed;
  left: 70px;
  top: 13px;
  width: 100%;
  max-width: 30px;
  background: linear-gradient(145deg, #292929, #222222);
  box-shadow: 2px 2px 4px #1a1a1a, -2px -2px 4px #323232;
  color: #cacaca;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.App.light .calculator {
  background: linear-gradient(145deg, #eeeeee, #c8c8c8);
  box-shadow: 10px 10px 20px #a2a2a2, -10px -10px 20px #ffffff;
  color: #252525;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.App.light .output-operation {
  color: rgba(23, 32, 42, 0.7);
}
.App.light .button {
  background: linear-gradient(145deg, #eeeeee, #c8c8c8);
  box-shadow: 4px 4px 8px #a2a2a2, -4px -4px 8px #ffffff;
  color: #252525;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.App.light .button.special {
  background: linear-gradient(145deg, #006eff, #002fff);
  color: #c8c8c8;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.App.light .button.orange {
  background: linear-gradient(145deg, #ff8400, #e66f00);
  color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.App.light .delete-button-path {
  fill: #000;
}
.App.light .container-button-theme {
  background: linear-gradient(145deg, #eeeeee, #c8c8c8);
  box-shadow: 2px 2px 4px #a2a2a2, -2px -2px 4px #ffffff;
  color: #252525;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  justify-content: flex-end;
}
.App.light .container-button-theme .decoration-theme {
  background: linear-gradient(145deg, #eeeeee, #c8c8c8);
  box-shadow: 2px 2px 4px #a2a2a2, -2px -2px 4px #ffffff;
  color: #252525;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.App.light .HISTORY {
  background: #eeeeee;
}
.App.light .button-back-history {
  background: linear-gradient(145deg, #eeeeee, #c8c8c8);
  box-shadow: 5px 5px 10px #a2a2a2, -5px -5px 10px #ffffff;
  color: #252525;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.App.light .operation-item {
  background: linear-gradient(145deg, #eeeeee, #c8c8c8);
  box-shadow: 2px 2px 4px #a2a2a2, -2px -2px 4px #ffffff;
  color: #252525;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.App.light .operation {
  color: rgba(0, 0, 0, 0.6);
}
.App.light .response {
  color: black;
}
.App.light .button-history {
  background: linear-gradient(145deg, #eeeeee, #c8c8c8);
  box-shadow: 1px 1px 2px #a2a2a2, -1px -1px 2px #ffffff;
  color: #252525;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.App.light ::-webkit-scrollbar {
  background: #fefefe;
}
.App.light ::-webkit-scrollbar-thumb {
  background: #292929;
}

.App.dark .calculator {
  background: linear-gradient(145deg, #292929, #222222);
  box-shadow: 10px 10px 20px #1a1a1a, -10px -10px 20px #323232;
  color: #cacaca;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.App.dark .output-operation {
  color: rgba(242, 244, 244, 0.7);
}
.App.dark .button {
  background: linear-gradient(145deg, #292929, #222222);
  box-shadow: 4px 4px 8px #1a1a1a, -4px -4px 8px #323232;
  color: #cacaca;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.App.dark .button.special {
  background: linear-gradient(145deg, #006eff, #002fff);
  color: #c8c8c8;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.App.dark .button.orange {
  background: linear-gradient(145deg, #ff8400, #e66f00);
  color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.App.dark .delete-button-path {
  fill: #fff;
}
.App.dark .container-button-theme {
  background: linear-gradient(145deg, #292929, #222222);
  box-shadow: 2px 2px 4px #1a1a1a, -2px -2px 4px #323232;
  color: #cacaca;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  justify-content: flex-start;
}
.App.dark .container-button-theme .decoration-theme {
  background: linear-gradient(145deg, #292929, #222222);
  box-shadow: 2px 2px 4px #1a1a1a, -2px -2px 4px #323232;
  color: #cacaca;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.App.dark .HISTORY {
  background: #252525;
}
.App.dark .button-back-history {
  background: linear-gradient(145deg, #292929, #222222);
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #323232;
  color: #cacaca;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.App.dark .operation-item {
  background: linear-gradient(145deg, #292929, #222222);
  box-shadow: 2px 2px 4px #1a1a1a, -2px -2px 4px #323232;
  color: #cacaca;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
.App.dark .operation {
  color: rgba(254, 254, 254, 0.6);
}
.App.dark .response {
  color: #fefefe;
}
.App.dark .button-history {
  background: linear-gradient(145deg, #292929, #222222);
  box-shadow: 1px 1px 2px #1a1a1a, -1px -1px 2px #323232;
  color: #cacaca;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.App.dark ::-webkit-scrollbar {
  background: #292929;
}
.App.dark ::-webkit-scrollbar-thumb {
  background: #fefefe;
}/*# sourceMappingURL=global.css.map */