@import "../utils/mixin";

.HISTORY {
  background: #eeeeee;
}

.button-back-history {
  @include neomorphism-global("light", 12px, 5px);
}

.operation-item {
  @include neomorphism-global("light", 18px, 2px);
}

.operation {
  color: rgba($color: #0000, $alpha: 0.6);
}

.response {
  color: black;
}

.button-history {
  @include neomorphism-global("light", 12px, 1px);
}
