// Estilo neomorfismo
@mixin neomorphism-global(
  $theme: "light",
  $border-radius-value: 62px,
  $shadow-value: 10px
) {
  // Calcula valores requeridos previamente
  $shadow-value-2x: $shadow-value * 2;
  $shadow-value-negative: $shadow-value * -1;

  //   Tema claro
  @if ($theme == "light") {
    background: linear-gradient(145deg, #eeeeee, #c8c8c8);
    box-shadow: $shadow-value $shadow-value $shadow-value-2x #a2a2a2,
      $shadow-value-negative $shadow-value-negative $shadow-value-2x #ffffff;
    color: #252525;
  }
  //   Tema oscuro
  @else if ($theme == "dark") {
    background: linear-gradient(145deg, #292929, #222222);
    box-shadow: $shadow-value $shadow-value $shadow-value-2x #1a1a1a,
      $shadow-value-negative $shadow-value-negative $shadow-value-2x #323232;
    color: #cacaca;
  }
  //   Color especial azul
  @else if ($theme == "blue") {
    background: linear-gradient(145deg, #006eff, #002fff);
    // box-shadow: $shadow-value $shadow-value $shadow-value-2x #0070c4,
    //   $shadow-value-negative $shadow-value-negative $shadow-value-2x #00b2ff;
    color: #c8c8c8;
  } @else if ($theme == "orange") {
    // border-radius: 50px;
    background: linear-gradient(145deg, #ff8400, #e66f00);
    // box-shadow: 20px 20px 84px #a34f00, -20px -20px 84px #ffa700;
    color: #fff;
  }
  //   Por defecto tema claro
  @else {
    background: linear-gradient(145deg, #eeeeee, #c8c8c8);
    box-shadow: $shadow-value $shadow-value $shadow-value-2x #a2a2a2,
      $shadow-value-negative $shadow-value-negative $shadow-value-2x #ffffff;
    color: #252525;
  }

  //   Borde redondeado
  border-radius: $border-radius-value;
  -webkit-border-radius: $border-radius-value;
  -moz-border-radius: $border-radius-value;
  -ms-border-radius: $border-radius-value;
  -o-border-radius: $border-radius-value;
}

// flex
@mixin flex(
  $direccion-value: row,
  $justify-value: flex-start,
  $align-value: flex-start,
  $gap-value: 0px,
  $wrap-value: nowrap
) {
  display: flex;
  flex-direction: $direccion-value;
  justify-content: $justify-value;
  align-items: $align-value;
  gap: $gap-value;
  flex-wrap: $wrap-value;
}
