@import "../utils/mixin";

.HISTORY {
  background: #17202a;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99999 !important;
  transition: all 400ms;
  transform: translateX(-100%);

  .button-back-history {
    margin: 5px;
    padding: 8px;
  }

  .container-list-operations {
    @include flex(column, flex-start, flex-start, 20px);
    padding: 20px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 90px;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .error-leng {
      font-size: 50px;
      font-weight: bold;
    }

    .operation-item {
      width: 100%;
      border-radius: 18px;
      padding: 10px;
      padding-left: 25px;

      .operation {
        font-size: 15px;
      }
      .response {
        margin-top: 5px;
        font-size: 20px;
      }
    }
  }
}
