@import "../utils/mixin";

.button-history {
  background: blue;
  position: fixed;
  left: 70px;
  top: 13px;
  width: 100%;
  max-width: 30px;
  //   padding: 10px;
  @include neomorphism-global("dark", 30px, 2px);
}
